<div class="row">
  <div class="col s12">
    <h3>Edit my profile</h3>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :first_name, class: 'active' %>
      <%= f.text_field :first_name %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :last_name, class: 'active' %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :address, class: 'active' %>
      <%= f.text_field :address %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :city, class: 'active' %>
      <%= f.text_field :city %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :state, class: 'active' %>
      <%= f.text_field :state %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :zip, class: 'active' %>
      <%= f.text_field :zip %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :phone, class: 'active' %>
      <%= f.text_field :phone %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :email, class: 'active' %>
      <%= f.email_field :email , :required => true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :password, class: 'active' %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :password_confirmation, class: 'active' %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :current_password, class: 'active' %> <br />
      <%= f.password_field :current_password, autocomplete: "off", :required => true %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.submit "Update", class: "btn waves-effect waves-light navbar-color-dark" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s12">
    <h3>Cancel my account</h3>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn waves-effect waves-light red" %>
  </div>
</div>
