<h3>Hello Admins!</h3>
<h5>We have just received a new job application.</h5>
<p><b>First name: </b><%= @job_application.first_name %></p>
<p><b>Last name: </b><%= @job_application.last_name %></p>
<p><b>Middle name: </b><%= @job_application.middle_name %></p>
<p><b>Address: </b><%= @job_application.address %></p>
<p><b>City: </b><%= @job_application.city %></p>
<p><b>State: </b><%= @job_application.state %></p>
<p><b>Zip: </b><%= @job_application.zip %></p>
<p><b>Phone: </b><%= @job_application.phone %></p>
<p><b>Email: </b><%= @job_application.email %></p>
<p><b>Date of birth: </b><%= @job_application.birth_date %></p>
<p><b>Driver's License number: </b><%= @job_application.dl_number %></p>
<p><b>Driver's License date of issue: </b><%= @job_application.dl_issuedate %></p>
<p><b>Driver's License issue state: </b><%= @job_application.dl_state %></p>
<p><b>3 years of experience: </b><%= @job_application.years_experience %></p>
<p><b>Social Security Number: </b><%= @job_application.ssn %></p>
<p><b>Emergency contact person: </b><%= @job_application.emergency_contact_name %></p>
<p><b>Emergency contact phone: </b><%= @job_application.emergency_contact_phone %></p>
<p><b>Own car: </b><%= @job_application.own_car %></p>
<p><b>Car year: </b><%= @job_application.car_year %></p>
<p><b>Car make: </b><%= @job_application.car_make %></p>
<p><b>Car model: </b><%= @job_application.car_model %></p>
<p><b>Livery plates: </b><%= @job_application.livery_plates %></p>
<p><b>Available full time: </b><%= @job_application.full_time %></p>
<p><b>Hours available: </b><%= @job_application.hours_available %></p>
<p><b>Driving violations: </b><%= @job_application.driving_violations %></p>
<p><b>Criminal records: </b><%= @job_application.criminal_records %></p>
<p><b>Professional experience: </b><%= @job_application.professional_experience %></p>
<p><b>References: </b><%= @job_application.references %></p>
<p>Bye!</p>
