<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><b>Edit User <%= @user.first_name.capitalize %></b></h4>
      </div>
    </div>

    <% if @user.profile_photo.file.nil? %>
      <ul><img src=<%= asset_path('avatar.jpg')%> height="150", class= "circle" ></ul>
    <% else %>
      <ul><img src=<%= @user.profile_photo %> height="150", class= "circle" ></ul>
    <% end %>

    <%= form_for @user do |f| %>
      <div class="row">
        <div class="input-field col s12 l6">
          <%= f.text_field :first_name, type: "text", class: "validate", :required => true %>
          <%= f.label :first_name, class: "active"%>
        </div>
        <div class="input-field col s12 l6">
          <%= f.text_field :last_name, type: "text", class: "validate", :required => true %>
          <%= f.label :last_name ,class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 l6">
          <%= f.label :address, class: 'active' %>
          <%= f.text_field :address %>
        </div>
        <div class="input-field col s12 l6">
          <%= f.label :city, class: 'active' %>
          <%= f.text_field :city %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 l6">
          <%= f.label :state, class: 'active' %>
          <%= f.text_field :state %>
        </div>
        <div class="input-field col s12 l6">
          <%= f.label :zip, class: 'active' %>
          <%= f.text_field :zip %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 l6">
          <%= f.label :phone, class: 'active' %>
          <%= f.text_field :phone %>
        </div>
        <div class="input-field col s12 l6">
          <%= f.label :email, class: 'active' %>
          <%= f.email_field :email , :required => true %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <p>Is the user an admin?</p>
          <%= f.label :admin, class: 'active' %>
          <%= f.collection_radio_buttons :admin, [ [true, "YES"], [false, "NO"] ], :first, :last %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <p>Role of the user:</p>
          <%= f.label :role, class: 'active' %>
          <%= f.collection_radio_buttons :role, [ ["driver", "Driver"], ["admin", "Admin"], ["manager", "Manager"] ], :first, :last %>
        </div>
      </div>

      <div class="row">
        <div class="file-field input-field col s12 l6">
          <div class="btn navbar-color-dark">
            <span>Photo</span>
            <%= f.file_field :profile_photo, id: "upload"%>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate", placeholder="Change User Avatar">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= f.submit "Update User", class: "btn waves-effect waves-light navbar-color-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
