<!DOCTYPE html>
<html>
  <head>
    <title>Transporter App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <header>
    <nav class="nav">
      <div class="nav-wrapper navbar-color">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo right">Transporter</a>
        <ul class="left hide-on-med-and-down compress">
          <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% if current_user.admin %>
              <li><%= link_to "All Users List", users_path %></li>
            <% end %>
            <li><%= link_to "Profile", current_user %> </li>
            <li><%= link_to "My clients", pickups_path %> </li>
          <% else %>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <% if current_user.admin %>
              <li><%= link_to "All Users List", users_path %></li>
            <%end%>
            <li><%= link_to "My clients", pickups_path %> </li>
            <li><%= link_to "Profile", current_user %> </li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <script>
    $('.button-collapse').sideNav();
  </script>
</html>
